    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row"style=border-bottom: solid;
    border-right: solid;
    border-width: thin;>
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
       
        <div>
          {% for img in img %}
		      {% if img.client_id.id == user.id %}
            <a class="navbar-brand brand-logo" href=".">
			        <img alt="logo" src="{{img.logo.url}}" style='max-width:200%;height:56px;'></a>
          <a class="navbar-brand brand-logo-mini" href=".">
            <img src="{{img.logo.url}}" alt="logo" />
          </a>
        {% endif %}
		{% endfor %}
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          
          <img src="/static/assets/images/logoBSens.png" style='width:32%' alt="logo" />
        </ul>
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item d-none d-lg-block"hidden>
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker"hidden>
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li>
          <li class="nav-item"hidden>
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li>
          <li class="nav-item dropdown"hidden>
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown"h>
              <i class="icon-bell"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown"hidden>
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">Active notification </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content"hidden>
                  <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                  <p class="fw-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content"hidden>
                  <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                  <p class="fw-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content"hidden>
                  <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                  <p class="fw-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown"hidden> 
            <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-mail icon-lg"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              
              
            </div>
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="/static/assets/images/faces/generic.jpg" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="/static/assets/images/faces/generic.jpg" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">{{user}}</p>
                <p class="fw-light text-muted mb-0">basic.adress@mail.com</p>
              </div>
              {% comment %} <a class="dropdown-item"hidden><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"hidden></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
              <a class="dropdown-item"hidden><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"hidden></i> Messages</a>
              <a class="dropdown-item"hidden><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"hidden></i> Activity</a>
              <a class="dropdown-item"hidden><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"hidden></i> FAQ</a> {% endcomment %}
              <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
